

.icon-home{

    color:white;
}

.h-footer{
    height: 100px !important;
    padding-top: 10px;
}

.icon-footer{
    color: white;
}

.p-footer{
    padding-top: 5px;
    width: 150px;
    color: white;
}

.logo{
    background-image: url(./Images/Sportify\ Logo\ \(1\).svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    
    
}

.logo-admin{

    
    background-image: url(./Images/Sportify\ Logo\ Admin.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    

}

.links{
    font-size: 20px;
    text-decoration: none;
   
}

.nav-contenedor{
    width: 100%;
    
}




@media (min-width:400px) {
      
    .h-footer{
      
        padding-top: 30px;
    }
    .p-footer{
        padding-top: 12px;
        width: 150px;
        color: white;
    }
    .logo{
        margin-right: 100px ;
        }

    .logo-admin{
        
        margin-right: 100px ;
        width: 200px;
        height: 150px; 
        }

        .links{
            font-size: 12px;
            text-decoration: none;
            text-align: center;
        }
    

}


@media (min-width:780px) {
      
    .logo{
    margin-right: 50px ;
    width: 200px;
    height: 150px; }
    
    .h-footer{
        height: 120px !important;
        padding-top: 30px;
    }
    .p-footer{
        padding-top: 12px;
        width: 150px;
        color: white;
    }
    .logo-admin{
        margin-right: 50px ;
        width: 200px;
        height: 150px; }

        .links{
            font-size: 15px;
            text-decoration: none;
            text-align: center;
        }
        
        
}

@media (min-width: 1000px ) {.logo{
    margin-right: 100px ;
    width: 300px;
    height: 150px;
    } 
    .h-footer{
        height: 120px !important;
        padding-top: 30px;
    }
    .p-footer{
        padding-top: 12px;
        width: 150px;
        color: white;
    }

    .logo-admin{
        margin-right: 150px ;
    width: 250px;
    height: 150px;}
}

    

  @media (min-width: 1200px) {
      
    .logo{
    margin-right: 100px ;
    width: 400px;
    height: 150px;
    
    }

    .logo-admin{
        margin-right: 300px ;
        width: 250px;
        height: 150px;
        
        }
    
    .h-footer{
        height: 120px !important;
        padding-top: 30px;
    } 
    .p-footer{
        padding-top: 12px;
        width: 150px;
        color: white;
    }

    
}


@media (min-width: 1400px) {
      
    .logo{
    margin-right: 900px ;
    width: 400px;
    height: 150px;
    
    }

    .logo-admin{
        margin-right: 400px ;
        width: 300px;
        height: 100px;
        
        }
    
    .h-footer{
        height: 120px !important;
        padding-top: 30px;
    } 
    .p-footer{
        padding-top: 12px;
        width: 150px;
        color: white;
    }

    .links{
        font-size: 20px;
        text-decoration: none;
        text-align: center;
    }
   

    
}

   